<ion-view title="Organization">
	<ion-header class="bar bar-stable bar-subheader item-input-inset home-page-header">
		<button class="button icon-left ion-person-add button-assertive" ng-click="follow()">
		  	Follow 
		</button>
	</ion-header>
	<ion-content>

	<div class="list card home-page">

		<div class="item item-avatar">
		    <img src="images/kenkokan-karate-nz.jpg">
		    <h2>kenkokan Karatedo NZ</h2>
		    <p>November 05, 2012</p>
		</div>

		<div class="item item-body">
		    <img class="full-image" src="images/auckland.jpg">
		    <p>
		      Learn Karate! Get fit, get flexible, get strong and have fun. Our classes include self defence, circuit training, stretching and traditional karate - a perfect combination for a healthier you.
		    </p>
		    <p>
		      	<a href="#" class="subdued">1 Like</a>
	      		<a href="#" class="subdued">5 Comments</a>
		    </p>
		</div>
	</div>
	</ion-content>
</ion-view>
