<ion-view title="Organization">
	<ion-header class="bar bar-stable bar-subheader item-input-inset home-page-header">
		<button class="button icon-left ion-person-add button-assertive" ng-click="follow()">
		  	Follow 
		</button>
	</ion-header>
	<ion-content>

	<div class="list card organization-page">

		<div class="item item-avatar">
		    <img src="images/kenkokan-karate-nz.jpg">
		    <h2>kenkokan Karatedo NZ</h2>
		    <p>November 05, 2012</p>
		</div>

		<div class="item item-body">
		    <img class="full-image" src="images/auckland.jpg">
		    <p>
		      Learn Karate! Get fit, get flexible, get strong and have fun. Our classes include self defence, circuit training, stretching and traditional karate - a perfect combination for a healthier you.
		    </p>
		    <p>
		      	<a href="#" class="subdued">1 Like</a>
	      		<a href="#" class="subdued">5 Comments</a>
		    </p>
		</div>



		<div class="item item-divider"></div>
		<div class="item item-avatar">
    		<img src="images/profile5.jpg">
    		<h2>Shihan Marty McFly</h2>
    		<p>Head Instructor</p>
  		</div>
  		
  		<div class="item item-body">
	    	<p>
	      		This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
	  			the content is from a card-body consisting of an image and paragraph text. The footer
	      		consists of tabs, icons aligned left, within the card-footer.
	    	</p>
	  		<div class="list">
		        <ion-scroll direction="x">
		        	<i class="icon ion-bookmark energized"></i>
		        	<i class="icon ion-bookmark energized"></i>
		        	<i class="icon ion-bookmark energized"></i>
		        	<i class="icon ion-bookmark energized"></i>
		        	<i class="icon ion-bookmark energized"></i>
		        </ion-scroll>
	        </div>
		</div>
		<div class="item item-divider"></div>


		<!-- instructors -->
		<div class="item item-divider"></div>
  		<div class="item item-body">
	  		<div class="list">
		       
	        </div>
		</div>
		<div class="item item-divider"></div>

	</ion-content>
</ion-view>
