<ion-view title="Home">
	<ion-header class="bar bar-stable bar-subheader item-input-inset home-page-header">
		<button class="button button-balanced" ng-click="createOrganization()">
		  	Create organization 
		</button>
		<label class="item-input-wrapper">
		    <i class="icon ion-ios-search placeholder-icon"></i>
		    <input type="search" placeholder="Search">
	    </label>
		
	</ion-header>
	<ion-content>

	<div class="list card home-page">

		<div class="item item-avatar">
		    <img src="images/kenkokan-karate-nz.jpg">
		    <h2>kenkokan Karatedo NZ</h2>
		    <p>November 05, 2012</p>
		</div>

		<div class="item item-body" ng-click="organizationClick()">
		    <img class="full-image" src="images/auckland.jpg">
		    <p>
		      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
		      the content is from a card-body consisting of an image and paragraph text. The footer
		      consists of tabs, icons aligned left, within the card-footer.
		    </p>
		    <p>
		      	<a href="#" class="subdued">1 Like</a>
	      		<a href="#" class="subdued">5 Comments</a>
		    </p>
		</div>

		<div class="item tabs tabs-secondary tabs-icon-left">
		    <a class="tab-item" href="#">
		      	<i class="icon ion-thumbsup"></i>
		      	Like
		    </a>
		    <a class="tab-item" href="#">
			    <i class="icon ion-chatbox"></i>
			    Comment
		    </a>
		    <a class="tab-item" href="#">
		      	<i class="icon ion-share"></i>
		      	Share
		    </a>
		</div>
	</div>
	</ion-content>
</ion-view>
