.popup-container {
	.popup {	
		width:350px;
	}
}

#newEvent {
	input[type=text] {
		height: 20px;
	}
	#allDayToggle, .no-border{
		border: 0;
	}
}

.popover {
	opacity: 1;
	margin-left: 0;
}

.white-background {
	background-color: white !important;
}

#startTimePicker {
	input {
		padding: 16px;	
	}
}