.sign-in-form {
	button, .button {
		margin-top: 35px;
	}

	.validation-error-show-hide {
		color: red;
		margin-right: 10px;
	}

	.validation-error-show-hide {
	  	@include transition( all 0.5s ease-in-out );
	}

	.validation-error-show-hide.ng-hide {
	  	opacity:0;
	}
}