<ion-tabs class="tabs-icon-top tabs-default">
    <ion-tab title="Home" icon-on="ion-ios-star energized" icon-off="ion-ios-star-outline" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Pulse" icon-on="ion-ios-browsers energized" icon-off="ion-ios-browsers-outline" href="#/tab/pulse">
        <ion-nav-view name="pulse-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="follow" icon-on="ion-social-rss energized" icon-off="ion-social-rss-outline" href="#/tab/follow">
        <ion-nav-view name="follow-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>