<div id="newEvent" class="list">
    <label class="item item-icon-left no-border">
        <i class="icon ion-ios-calendar-outline"></i>
        <input type="text" ng-model="newEvent.title" placeholder="title">
    </label>
    
    <label id="allDay" class="item item-icon-left no-border">
        <i class="icon ion-ios-clock-outline"></i>
        <ion-toggle id="allDayToggle" ng-model="newEvent.allDay" toggle-class="toggle-calm">All day</ion-toggle>
    </label>
    
    <!-- Have to wrap the date picker inside a ion-list to disable the 300ms tab feature -->
    <div class="animate-hide" ng-show="!newEvent.allDay">
        <div class="row">
            <ion-list class="no-border col col-50" data-tap-disabled="true">    
                <input type="text" pick-a-date="date" pick-a-date-options="datePickerOptions" data-value="{{newEvent.startDate}}" ng-model="newEvent.startDate" placeholder="{{newEvent.startDate}}"/>
            </ion-list>

            <mars-clock-picker id="startTimePicker" options="clockPickerOptions" css-class="col col-offset-20" time="newEvent.startTime"></mars-clock-picker>
        </div>

        <div class="row">
            <ion-list class="no-border col col-50" data-tap-disabled="true">
                <input type="text" pick-a-date="date" pick-a-date-options="datePickerOptions" ng-model="newEvent.endDate" placeholder="{{newEvent.endDate}}"/>
            </ion-list>

            <mars-clock-picker id="endTimePicker" options="clockPickerOptions" css-class="col col-offset-20" time="newEvent.endTime"></mars-clock-picker>
        </div>
    </div>

    <label class="item item-icon-left no-border">
        <i class="icon ion-ios-loop-strong"></i>
        <ion-toggle id="repeatToggle" ng-click="newEvent.repeatWeekly=newEvent.repeatMonthly=false" ng-model="newEvent.repeat" toggle-class="toggle-calm">Repeat</ion-toggle>
    </label>
    <div class="animate-hide" ng-show="newEvent.repeat">
        <ul class="list">
            <li class="no-border item item-checkbox">
                Weekly
                <label class="checkbox">
                    <input type="checkbox" ng-model="newEvent.repeatWeekly" ng-click="newEvent.repeatWeekly? newEvent.repeatMonthly = false : false">
                </label>
            </li>
            <li class="no-border item item-checkbox">
                Monthly
                <label class="checkbox">
                    <input type="checkbox" ng-model="newEvent.repeatMonthly" ng-click="newEvent.repeatMonthly? newEvent.repeatWeekly = false : false">
                </label>
            </li>
        </ul>
    </div>


    <label class="item item-icon-left no-border">
    	<i class="icon ion-ios-location"></i>
    	<input type="text" ng-model="newEvent.location" placeholder="Add location">
    </label>

    <label class="item item-icon-left no-border">
    	<i class="icon ion-person-stalker"></i>
    	<input type="text" placeholder="Invite people">
    </label>

      <label class="item item-icon-left no-border">
        	<i class="icon ion-paintbrush"></i>
        	<input type="text" placeholder="Choose colour">
      </label>

      <label class="item item-icon-left no-border">
        	<i class="icon ion-document"></i>
        	<input type="text" ng-model="newEvent.note" placeholder="Add note">
      </label>
</div>